<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="InitialDirectory" value="path" />
		<add key="ReferenceYear" value="2021" />
		<add key="ReportPath" value=""/>
		<!--Email Defaults-->
		<add key="FromMail" value="roimash97@gmail.com"/>
		<add key="ToMail" value="roimash97@gmail.com"/>
		<!--<add key="ToMail" value="sally@korentec.co.il"/>-->
		<add key="Subject" value="דיווח שעות רועי משיח"/>
		<add key="Body" value="היי סלי, מצורף דיווח שעות עבור החודש."/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>